description = "Default layout"
==

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TDH</title>
        <link rel="stylesheet" href="{{ 'assets/css/slick-theme.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/slick.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/jquery.fancybox.min.css'|theme }}">
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        {% partial 'header' %}
            {% page %}
        {% partial 'footer' %}
    </body>

    <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/js/slick.min.js'|theme }}"></script>

    <script src="{{ 'assets/js/main.js'|theme }}"></script>

    <script src="{{ 'assets/js/jquery.fancybox.min.js'|theme }}"></script>

</html>
