[newsPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = "post"
categoryPage = "home"
==
<?php
function onStart(){
        $this["posts_filtered"] = \Indikator\News\Models\Posts::where("category_id", $this->theme->foreign_news)->get();
        $cat = \Indikator\News\Models\Categories::where("id", $this->theme->foreign_news)->first();
        $this["cat"] = $cat;
       
    }
?>
==
{% component "newsPosts" %}

    <div class="title__b ">
        {{cat.name}}
    </div>
    <button class="btn__prev">
        <img src="images/prev blue.svg" alt="">
    </button>
    <button class="btn__next">
        <img src="images/next blue.svg" alt="">
    </button>

{% for post in posts_filtered %}
 
    <hr>
    <div class="news">
        <div class="left__title">
            <a href="{{post.url}}"> {{ post.title }}</a>
            
        </div>
        <div class="left__text">
            {{ post.introductory|raw }} 
        </div>
        <div class="left__end">
            <div class="left__time">
                {{ post.published_at| date("d.m.Y") }}
            </div>
            <div class="left__link">
                <a href="{{post.url}}">Узнать больше</a>
            </div>
        </div>
    </div>
{% endfor %}