==
<?php
    function onStart(){

        $this['interesting'] = Admin\Interesting\Models\Interesing::all();

    }
?>
==

<div class="right__block">
    <div class="title__c ">
        Интересные ссылки
    </div>
    <button class="btn__prev">
        <img src="images/prev blue.svg" alt="">
    </button>
    <button class="btn__next">
        <img src="images/next blue.svg" alt="">
    </button>
    <hr>
    <div class="amazing">
        {% for item in interesting %}
            <div class="amazing__pic1">
                <a href="{{ item.url }}">
                    <img src="{{ item.image.getPath() }}" alt="">
                    
                </a>  
            </div>
        {% endfor %}
        
    </div>
    <!-- amazing -->
</div>