==
<?php
function onStart(){
 
    
}
?>
==

<div class="main">
    <div class="title">
        {{'В центре событий'|_}}
    </div>
    {% if imageType == "vertical" %}
    <div class="vertical_type">
        <div class="vertical_photo">
            {% if postFeatured.images[0].path %}
                <div class="main_photo">
                    <img src="{{ postFeatured.images[0].path }}" alt="">
                </div>
            {% endif %}
        </div>
        <div class="vertical_text">
            <div class="main_title">
                
                <a href="{{ ''| page}}/post/{{postFeatured.id}}/{{postFeatured.slug}}">{{ postFeatured.title }}</a>
            </div>
            <div class="main_text">
                
                {{ postFeatured.introductory|raw }} 
            </div>
            <div class="main_end">
                <div class="main_date">
                    {{ postFeatured.published_at| date("d.m.Y") }}
                </div>
                <div class="main_link">
                    <a href="{{ ''| page}}/post/{{postFeatured.id}}/{{postFeatured.slug}}">
                        {{'Узнать больше'|_}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
        

        <div class="main_part">
            {% if postFeatured.images[0].path %}
                <div class="main_photo">
                    <img src="{{ postFeatured.images[0].path }}" alt="">
                </div>
            {% endif %}
            <div class="main_title">
                <a href="{{ ''| page}}/post/{{postFeatured.id}}/{{postFeatured.slug}}">{{ postFeatured.title }}</a>
            </div>
            <div class="main_text">
                {{ postFeatured.introductory|raw }} 
            </div>
            <div class="main_end">
                <div class="main_date">
                    {{ postFeatured.published_at| date("d.m.Y") }}
                </div>
                <div class="main_link">
                    <a href="{{ ''| page}}/post/{{postFeatured.id}}/{{postFeatured.slug}}">
                        {{'Узнать больше'|_}}
                    </a>
                </div>
            </div>
        </div>
    
    {% endif %}
</div>
