title = "post"
url = "/post/:id/:slug"
layout = "default"
is_hidden = 0

[newsPost]
slug = "{{ :slug }}"
==
<?php
function onStart(){

    $this['lastNews'] = \Indikator\News\Models\Posts::where("locale", App::getLocale())->where("category_id", "!=", $this->theme->colleagues_news)->orderBy('created_at', 'desc')->limit(6)->get();

}
?>
==
{% component 'newsPost' %}

<section class="section" id="intro">
    <div class="auto_container">
        <div class="which_page">
            <a href="{{ 'home'|page}}">
                
                <div class="page_name">
                    {{'Главная'|_}}
                </div>
            </a>
            <div class="slash">\</div>
            <a href="{{ 'category'|page({ slug: post.category.slug })}}">
                
                <div class="page_name">
                    {{ post.category.name }}
                </div>
            </a>
            
            <div class="slash">\</div>
            <div class="page_name">
                {{ post.title }}
            </div>
        </div>
        <div class="section_wrapper">
            <div class="center">
                <div class="title">
                    {{ post.category.name }}
                </div>
                <div class="news_page-title">
                    {{ post.title }}
                </div>
                <div class="news_publish">
                    <div class="publish_date">
                        <span>
                           {{'Опубликованно'|_}}
                        </span>
                        <span>
                            {{ post.published_at| date("d.m.Y") }}
                        </span>
                    </div>
                    <div class="views">
                        <span class="view_icon">
                            <img src="{{ 'assets/images/eye.svg'|theme }}" alt="">
                        </span>
                        <span>
                            {{ post.statistics }}
                        </span>
                    </div>
                </div>
                {% if post.images|length > 1 %}
                    <div class="news_slider">
                        <div class="slider__big">
                            {% for item in  post.images %}
                                {% if post.getImageDetails(item.path) == "vertical" %}
                                    <div>
                                        <div class="slider__card">
                                            <div class="bg__blur">
                                                <img src="{{item.path}}" alt="picture">
                                            </div>
                                            <div class="image__inner">
                                                <img src="{{item.path}}" alt="picture">
                                            </div>
                                        </div>
                                    </div>
                                
                                {% else %}

                                    <div>
                                        <div class="slider__card big-horizontal">
                                            <div class="image__inner">
                                                <img src="{{item.path}}" alt="picture">
                                            </div>
                                        </div>
                                    </div>
                                
                                {% endif %}
                           
                            {% endfor %}
                            
                        </div>
                        <div class="slider__mini">
                            {% for item in  post.images %}
                                {% if post.getImageDetails(item.path) == "vertical" %}
                                    
                                    <div class="mini-box">
                                        <div class="bg__blur-mini">
                                            <img src="{{item.path}}" alt="picture">
                                        </div>
                                        <div class="image__inner">
                                            <img src="{{item.path}}" alt="picture">
                                        </div>
                                    </div>
                                        
                                {% else %}

                                    <div class="mini-horizontal">
                                        <!-- <div class="bg__blur-mini">
                                            <img src="images/news4.png"" alt="picture">
                                        </div> -->
                                        <div class="image__inner">
                                            <img src="{{item.path}}" alt="picture">
                                        </div>
                                    </div>
                                
                                {% endif %}
                           
                            {% endfor %}

                            

                        </div>
                    </div>
                    {% elseif post.images|length > 0 %}
                        {% if post.getImageDetails(post.images[0].path) == "vertical" %}
                        
                            <div class="vertical_big">
                                <div class="bg_blur-post">
                                    <img src="{{ post.images[0].path }}" alt="picture">
                                </div>
                                <div class="image_inner-post">
                                    <img src="{{ post.images[0].path }}" alt="picture">
                                </div>
                            </div>
                        {% else %}
                            <div class="big_photo">
                                <img src="{{ post.images[0].path }}" alt="">
                            </div>
                        {% endif %}
                {% endif %}

                
                <div class="news_page-text">
                    <p class="para_text">
                        {{ post.content|raw }}
                    </p>
                    
                </div>
            </div>

            <div class="right_side break">
                <div class="title">
                    {{'Последние новости'|_}}
                </div>
                
                {% for item in lastNews %}
                    <div class="news_info">
                        <div class="left_date">
                            {{ item.published_at| date("d.m") }}
                        </div>
                        <div class="left_info">
                            <div class="left_title">
                                <a href="{{ url('/') }}/post/{{item.id}}/{{item.slug}}">{{item.category.name}}</a>
                            </div>
                            <div class="news_text">
                                {{item.title}}
                            </div>
                        </div>
                    </div>
                {% endfor %}       
            </div>
        </div>
    </div>
</section>