title = "videos"
url = "/videos"
layout = "default"
is_hidden = 0
==
<?php
function onStart(){

    $this['videos'] = Admin\Videos\Models\Video::paginate(10);


    $this['lastNews'] = \Indikator\News\Models\Posts::where("locale", App::getLocale())->where("category_id", "!=", $this->theme->colleagues_news)->orderBy('created_at', 'desc')->limit(6)->get();


}
?>
==

<link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css" />

<section class="section" id="intro">
    <div class="auto_container">
        <div class="which_page">
            <a href="{{ 'home'|page}}">

                <div class="page_name">
                    Главная
                </div>
            </a>
            <div class="slash">\</div>
            <div class="page_name">
                Видеорепортаж
            </div>
        </div>
        <div class="section_wrapper">
            <div class="center">
                <div class="title">
                    Видеорепортаж
                </div>
                <div class="gallery_outer">
                    {% for key,item in videos %}
                        <div class="gallery_item">
                            <div class="gallery_video">
                                <img src="{{item.image[0].path}}" alt="">

                                <div class="video_view" data-src="{{item.video[0].path}}">
                                    Просмотреть
                                </div>
                            </div>
                            <div class="player_bg">
                                <div class="player">
                                    <video class="player__video viewer">

                                    </video>

                                    <div class="player__controls">
                                        <div class="progress">
                                            <div class="progress__filled"></div>
                                        </div>
                                        <button class="player__button toggle playeer" title="Toggle Play">►</button>
                                        <div class="control_item">
                                            <img src="{{ 'assets/images/sound.svg'|theme }}" alt="" class="volume">
                                            <input type="range" name="volume" class="player__slider" min="0" max="1"
                                                step="0.05" value="1">
                                        </div>


                                        <button class="player__button fullscreen bigger" title="FullScreen">🞕</button>
                                    </div>
                                </div>
                            </div>

                            <div class="gallery_info">
                                <div class="photo_title">
                                    {% if activeLocale == "tm" %}
                                        {{ item.title_tm }}
                                    {% elseif activeLocale == "ru" %}
                                        {{ item.title_ru }}
                                    {% elseif activeLocale == "en" %}
                                        {{ item.title_en }}
                                    {% endif %}
                                </div>
                                <div class="photo_date">
                                    {{ item.published_at| date("d.m.Y") }}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>

                <div class="section_end">
                    <div class="page_num">
                        <a href="{{videos.previousPageUrl}}">
                            <div class="direct_btn">
                                    <img src="{{ 'assets/images/left.svg'|theme }}" alt="">
                            </div>
                        </a>
                        <form action="" method="GET">
                            <input type="text" name="page" value="{{videos.currentPage}}" class="input_page">
                        </form>
                        <a href="{{videos.nextPageUrl}}">
                            <div class="direct_btn">
                                    <img src="{{ 'assets/images/right.svg'|theme }}" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="page_list">
                        {{(videos.total/videos.perPage)|round(0,"ceil")}} страниц
                    </div>
                </div>
            </div>
            <div class="right_side break">
                <div class="title">
                    Последние новости
                </div>

                {% for item in lastNews %}
                    <div class="news_info">
                        <div class="left_date">
                            {{ item.published_at| date("d.m") }}
                        </div>
                        <div class="left_info">
                            <div class="left_title">
                                <a href="{{ url('/') }}/post/{{item.id}}/{{item.slug}}">{{item.category.name}}</a>
                            </div>
                            <div class="news_text">
                                {{item.title}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.plyr.io/3.6.3/plyr.polyfilled.js"></script>
